<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="phpNet" type="PHP.Core.ConfigurationSectionHandler, PhpNetCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" />
    <!--by ding-->
  </configSections>

  <system.webServer>
    <handlers>
      <add name="Phalanger" path="*.php" verb="*" type="PHP.Core.RequestHandler, PhpNetCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.php" />
        <add value="default.php" />
      </files>
    </defaultDocument>
  </system.webServer>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="Windows" />
  </system.web>


  
  <phpNet>
    <classLibrary>
      <add assembly="PhpNetClassLibrary, Version=4.0.0.0, Culture=neutral, PublicKeyToken=4af37afe3cde05fb" section="bcl" />
      <add assembly="PhpNetZip, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" />
      <add assembly="PhpNetMbstring, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" />
      <add assembly="PhpNetIconv, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" />
      <add assembly="PhpNetCore.Parsers, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" />
      <!--<add assembly="PhpNet.Extension.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" />
      <add assembly="PhpNet.Extension.XmlDom, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" />-->
      <!--by ding-->
    </classLibrary>
  </phpNet>
</configuration>